<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Jip Dream</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../css/index.css" />
    </head>
    <body>
        <div id="app">
            <div class="content-wrapper">
                <input type="file" id="hiddenImageFileInput" style="display: none" />
                <div class="image-container">
                    <img src="../assets/images/sample-image.png" class="gallery-thumbnail" />
                </div>
                <button class="btn">Upload</button>
            </div>
        </div>
        <script type="module" src="../js/image-upload.js"></script>
    </body>
</html>
