<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Jip Dream</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../css/index.css" />
    </head>
    <body>
        <div id="app">
            <header class="header">
                <h1 class="title">
                    <p>JIP DREAM</p>
                </h1>
                <button class="filter-button">
                    <img src="" alt="" />
                </button>
            </header>
            <main class="content-wrapper">
                <div class="image-container"></div>
            </main>
            <a>
                <button>+</button>
            </a>
        </div>
        <script type="module" src="../js/propertyList.js"></script>
    </body>
</html>
